main {
    text-align: center;
    padding-top: 40px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 10px;
    margin: 0px auto;
    text-align: left;
}

#loginForm label {
    margin-top: 5px;
}

#loginForm input {
    padding: 8px;
    font-size: 16px;
}

#loginForm button {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
}

#loginForm button:hover {
    background-color: #444;
}

#errorMessage {
    margin: 0;
    color: red;
}