body {
    margin: 0;
    background-color: #1e1e1e;
    color: #e0e0e0;
}

h1 {
    color: #ffffff
}

.navbar {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #181818;
    border-bottom: 1px solid #333;
}

.navbar-name {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none; /* Remove ugly underline */
}

.navbar-links {
    display: flex;
    gap: 25px;
}

.navbar-links a {
    color: #e0e0e0;
    text-decoration: none;
}

.navbar-links a:hover {
    color: #e6cc75;
}

.auth-links {
    display: flex;
    align-items: center;
    gap: 25px;
}

.auth-links a {
    color: #e0e0e0;
    text-decoration: none;
}

.auth-links a:hover {
    color: #e6cc75;
}

.auth-links button {
    padding: 0;
    border: none;
    background: none;
    color: #e0e0e0;
    cursor: pointer;
}

.auth-links button:hover {
    color: #e6cc75;
}

.hidden {
    display: none;
}

main {
    padding: 8px 30px 30px 30px;
}